<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bem-vindo(a)!</title>
  </head>
  <body>
    <h1>Olá, {{name}}!</h1>
    <p>Bem-vindo(a) à nossa plataforma. Estamos felizes em tê-lo(a) conosco.</p>
    <p>Se precisar de algo, entre em contato com nosso suporte.</p>
    <p>Atenciosamente, <br />Equipe XYZ</p>
  </body>
</html>
